:root {
    /* 修改全局默认字体大小 */
    --base-font-size: 14px;

    /* 修改全局默认字体样式 */
    --base-font-family: NotoSansSC-Regular, "Microsoft YaHei", sans-serif;

    /* 隐藏文章内容页面的文章修改时间 */
   --post-update-datetime: none;

    /* 设置模块卡片的边框圆角 */
    --box-border-radius: 6px;

    /* 设置 Header 头部高度 */
    --header-height: 62px;

    /* 
        设置 Header 头部收缩时的高度
        必须小于 Header 头部正常状态的高度
    */
    --header-shrink-height: 52px;

    /* 设置 Header 头部的背景毛玻璃效果程度 */
    --header-backdrop-filter-blur: 6px;

    /* 设置 Header 头部的 Title 字体大小 */
    --header-title-font-size: 20px;

    /* 设置 Header 头部的 Title 字体样式 */
    --header-title-font-family: Pacifico, NotoSansSC-Regular, "Microsoft YaHei", sans-serif;

    /* 设置首页文章模块鼠标悬浮时的缩放级别（默认 1） */
    --home-post-hover-scale: 1.02;

    /* 隐藏文章内容页面作者名称 */
    --post-author-name: none;

    /* 隐藏文章内容页面作者头像 */
    --post-author-avatar: none;

    /* 
      设置文章中的图片排列位置
      居左：0 auto 0 0（默认）
      居中：0 auto
      居右：0 0 0 auto
    */
    --post-img-align: 0 auto;

    /* 设置页面内容区域的最大宽度（默认 928px） */
    --page-content-max-width: 928px;
}

@font-face {
  font-family: Pacifico;
  src: url(../font/webfonts/Pacifico-Regular.woff2);
}

@font-face {
  font-family: NotoSansSC-Regular;
  src: url(../font/webfonts/NotoSansSC-Regular.woff2);
}
